* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}

footer {
    position: absolute;
    bottom: 0;
    background: linear-gradient(#2B6FD4, #1b59b8);
    height: auto;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    color: #ffffff;
}

.navFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.navFooter h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.navFooter p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}