
.SignUp{
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    
    /* left: calc(50% -50px); */
}

.SignUp h1{
    text-align: center;
    
    /* left: 10%; */
}

.SignUp form
{
    position: relative;
    
    box-sizing: border-box;
}


.RegistrationHeader
{
    padding: 10px;
    
    text-align: center;
    
}

.SignUp-content{
    padding: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.Signup-input
{
    Width: 100%;
    padding: 30px 10px;
    border-radius: 10px;
    border: 2px solid;
    outline: none;
    margin-top: 30px;
    text-align: left;
    
}