
.SignUp{
    max-width: 430px;
    /* margin: 0 auto; */
    /* padding: 30px; */
    /* margin-bottom: 1000px; */
    text-align: center;
    width: 50%; 
    height: 65%;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background:white;
    border-radius: 5px;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2);
    /* left: calc(50% -50px); */
}

.SignUp h1{
    text-align: center;
    padding: 25px 0 30px 0;
    margin-bottom: 35px;
    background: linear-gradient(#2B6FD4, #1b59b8);
    margin-top: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    
}

.SignUp form
{
    position: relative;
    box-sizing: border-box;
}

.SignUp-Content{
    /* text-transform: capitalize; */
    
}

.Signup-input
{
    Width: 64%;
    padding: 15px 8px;
    border-radius: 50px;
    /* border: 2px solid; */
    outline: none;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 16%;
    text-align: center;
    /* background-color: #d0d0d0; */
    display: block;
    
}

.Signup-input:focus
{
    background-color: rgba(218, 205, 26, 0.336);
}


.Button
{
    margin-top: 25px;
    width: 75%;
    height: 50px;
    border-radius: 30px;
    border-color: black;
   /* 0 outline-style: double; */
    background-color: whitesmoke;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2);
}


.LabelHeader
{
   font-weight: 100;
   padding-right: 50%;
}

.LabelHeader2
{
   font-weight: 100;
   padding-right: 59%;
}

.LabelHeader3
{
   font-weight: 100;
   padding-right: 51%;
}


.Signup_link
{
    margin-top: 45px;
    font-weight: 900px;
}

.pass_forgot
{
    font-weight: 900px;
    margin-top: 20px;
}