/* Make all the text size Large*/
* {
  font-size: medium;
  text-align: center;
  padding: 5px 14px;
}

/*The Search Bar with the text inputs, blue background, and button*/
.bar {
  border-color: black;
  border-style: solid;
  background-color: #1239b8;
  height: 75px;
  width: 1300px;
}

/* Grey Background for the text 'Where to?' as well as make it left leaning */
.header {
  border-style: solid solid none solid;
  border-color: black;
  background-color: rgb(167, 163, 163);
  background-size: contain;
  text-align:justify;
  width: 160px;
  height: 40px; 
}

.text1 {
  margin: 16px 100px 50px 60px;
}

.text2{
  margin: 0px 0px 0px 0px;
}

.text3{
  margin: 16px 0px 0px 0px;
}

.text4 {
  margin: 16px 50px 100px 60px;
}

/* Design of the Search Button*/
.button1 {
  background-color: rgb(134, 134, 134);
  width: 80px;
  height: 45px; 
  border: black;
  text-align: center;
  opacity: 20;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button1:hover {
  opacity: 0.6;
}
