.searchbar {
  position: relative;
  left: 18%;
  background: linear-gradient(#2B6FD4, #1b59b8);
  height: 110px;
  width: 64%;
  border-radius: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.header {
  font-size:34px;
  padding-left: 44px;
  color: white;
  width: 180px;
  height: 40px; 
  padding-top: 5px;
}

/*The Search Bar with the text inputs, blue background, and button*/
.bar input {
  border-radius: 100px;
  height:45px;
  text-align: center;
}

/*Location Text-box*/
.text1 {
  width: 250px;
  margin: 9px 100px 50px 30px;
}

/*Beginning date to leave*/
.text2{
  margin: 9px 0px 0px 0px;
}

/*End Date*/
.text3{
  margin: 9px 0px 100px 0px;
}

/* Number of Guests*/
.text4 {
  margin: 9px 75px 80px 100px;
}

/* Design of the Search Button*/
.button1 {
  width: 80px; 
  height: 45px; 
  transition: all .5s ease;
  color: #fff;
  border: 3px solid white;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 50px;
}

.button1:hover {
  color: #001F3F;
  background-color: #fff;
}
